header {
  height: 3em;
  background-color: hsl(240, 100%, 90%);
  nav {
    display: block;
    height: 100%;
    a {
      padding: 0 1em;
      height: 100%;
      line-height: 250%;

    }
  }
}

