header {
  nav {
    display: block;
    height: 100%;
    a {
      text-decoration: none;
      color: black;
      padding: 0 1em;
      height: 100%;

      &.active {
        border: 1px solid black;
      }
    }
  }
}

