<header>Http</header>
<button (click)="onClick1()">Hello World!</button>
<br>
<button (click)="onClick2()">Hello World Promise!</button>
<br>
<button (click)="onClick3()">Hello World Typed Json!</button>
<br>
<button (click)="onClick4()">Hello World Full Response!</button>
<br>
<button (click)="onClick5()">URL not found!</button>
<br>
<button [jlg-click]="onClick6.bind(this)">Url randomly failing!</button>
<br>
<button (click)="onClick7()">Get this nice image</button>
<br>
<button (click)="onClick8()">Authorization Header</button>
<br>
<button (click)="reset()">Reset</button>
<div>{{message}}</div>
<div>{{status}}</div>
<div *ngIf="imageURI" ><img class="castle" [src]="imageURI"> </div>