<h1>Http</h1>
<button (click)="onClick()">Click me!</button>
<br>
<button (click)="onClick2()">Click me also!</button>
<br>
<button (click)="onClick3()">Click me v3!</button>
<br>
<button (click)="onClick4()">Click me v4!</button>
<br>
<button (click)="onClick5()">Click me v5 (url not found)!</button>
<br>
<button [jlg-click]="onClick6.bind(this)">Click me v6 (url randomly failing)!</button>
<br>
<button (click)="onClick7()">Get this nice image</button>
<br>
<button (click)="reset()">Reset</button>
<div>{{message}}</div>
<div>{{status}}</div>
<div *ngIf="imageURI" ><img class="castle" [src]="imageURI"> </div>