<header>Forms</header>
<section>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <label>
            <div>Firstname</div>
            <div>
                <input type="text" name="firstname" [(ngModel)]="firstname" required>
            </div>
            <div>{{error}}</div>
        </label>
        <label>
            <div>Age</div>
            <div>
                <input type="text" name="age" [(ngModel)]="age" required age="90">
            </div>
            <div>{{error}}</div>
        </label>
        <label>
            <div>Region</div>
            <div>
                <select required>
                    <option value="" disabled selected>Select your option</option>
                    <option *ngFor="let region of regions" [value]="region">{{region}}</option>
                </select>
            </div>
            <div>{{error}}</div>
        </label>
        <button [disabled]="checkValidity(f)">Submit</button>
    </form>
</section>