<header>Forms</header>
<section *ngIf="beforeSubmit">
    <form #f="ngForm" (ngSubmit)="onSubmit(); f.reset();">
        <label>
            <div>Firstname</div>
            <div>
                <input type="text" name="firstname" [(ngModel)]="firstname" required>
            </div>
            <ul *ngIf="f.controls.firstname && f.controls.firstname.touched && f.controls.firstname.invalid">
                <li class="error" *ngIf="f.controls.firstname.errors.required">Firstname is required.</li>
            </ul>
        </label>
        <label>
            <div>Age</div>
            <div>
                <input type="text" name="age" [(ngModel)]="age" required age="110">
            </div>
            <ul *ngIf="f.controls.age && f.controls.age.touched && f.controls.age.invalid">
                <li class="error" *ngIf="f.controls.age.errors.forbiddenAge">Hey, you cannot be that old!</li>
                <li class="error" *ngIf="f.controls.age.errors.number">Age must be a valid number.</li>
                <li class="error" *ngIf="f.controls.age.errors.required">Age is required.</li>
            </ul>
        </label>
        <label>
            <div>Region</div>
            <div>
                <select name="region" [(ngModel)]="region" required>
                    <option *ngFor="let r of regions" [value]="r">{{r}}</option>
                </select>
            </div>
            <ul *ngIf="f.controls.region && f.controls.region.touched && f.controls.region.invalid">
                <li class="error" *ngIf="f.controls.region.errors.required">Choose a region.</li>
            </ul>
        </label>
        <button [disabled]="checkValidity(f)">Submit</button>
    </form>
</section>
<section *ngIf="!beforeSubmit">
    Form sucessfully submitted.
    <button (click)="goBack()" >Back</button>
</section>